.jumbotron.jumbotron-fluid
  .container
    %h1.display-4.text-center
      .main-headline-font
        Waliul Asr Education Centre
      .h2 WIPAHS

      .wec-button
        = link_to cttc_path, class: "btn btn-lg btn-outline-light" do
          CTTC
        = link_to journalism_path, class: "btn btn-lg btn-outline-light" do
          A3 Journalism
        = link_to nursing_path, class: "btn btn-lg btn-outline-light" do
          A3 Nursing
        = link_to wgs_path, class: "btn btn-lg btn-outline-light" do
          WGS
        = link_to wbs_path, class: "btn btn-lg btn-outline-light" do
          WBS
        = link_to a_level_path, class: "btn btn-lg btn-outline-light" do
          A Level
        = link_to tcdos_path, class: "btn btn-lg btn-outline-light" do
          TCDOS
        = link_to kemps_path, class: "btn btn-lg btn-outline-light" do
          KEMPS
        = link_to uans_path, class: "btn btn-lg btn-outline-light" do
          UANS
