.jumbotron.border-bottom
  %h1.text-center Waliul Asr Education Centre
  .text-center
    = image_tag("logo", alt: "wec schools", height: "100px", width: "150px")

.row
  .col-lg-6
    .card.mb-3{:style => "max-width: 540px;"}
      .row.no-gutters
        .col-md-4
          = image_tag("school.jpg", alt: "school", width: "163px", height: "200px")
        .col-md-8
          .card-body
            %h5.card-title UANS (Nursery)
            %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            %p.card-text
              %small
                = link_to "Go to UANS", '#', class: 'btn btn-sm btn-primary'
  .col-lg-6
    .card.mb-3{:style => "max-width: 540px;"}
      .row.no-gutters
        .col-md-4
          = image_tag("school.jpg", alt: "school", width: "163px", height: "200px")
        .col-md-8
          .card-body
            %h5.card-title KEMPS (Primary School)
            %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            %p.card-text
              %small
                = link_to "Go to KEMPS", '#', class: 'btn btn-sm btn-primary'
.row
  .col-lg-6
    .card.mb-3{:style => "max-width: 540px;"}
      .row.no-gutters
        .col-md-4
          = image_tag("school.jpg", alt: "school", width: "163px", height: "200px")
        .col-md-8
          .card-body
            %h5.card-title WGS (Girls Secondary)
            %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            %p.card-text
              %small
                = link_to "Go to WGS", '#', class: 'btn btn-sm btn-primary'
  .col-lg-6
    .card.mb-3{:style => "max-width: 540px;"}
      .row.no-gutters
        .col-md-4
          = image_tag("school.jpg", alt: "school", width: "163px", height: "200px")
        .col-md-8
          .card-body
            %h5.card-title WBS (Boys Secondary)
            %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            %p.card-text
              %small
                = link_to "Go to WBS", '#', class: 'btn btn-sm btn-primary'
.row
  .col-lg-6
    .card.mb-3{:style => "max-width: 540px;"}
      .row.no-gutters
        .col-md-4
          = image_tag("school.jpg", alt: "school", width: "163px", height: "200px")
        .col-md-8
          .card-body
            %h5.card-title CTTC (Teachers Training)
            %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            %p.card-text
              %small
                = link_to "Go to CTTC", '#', class: 'btn btn-sm btn-primary'
  .col-lg-6
    .card.mb-3{:style => "max-width: 540px;"}
      .row.no-gutters
        .col-md-4
          = image_tag("school.jpg", alt: "school", width: "163px", height: "200px")
        .col-md-8
          .card-body
            %h5.card-title A3 (Journalism)
            %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            %p.card-text
              %small
                = link_to "Go to Journalism", '#', class: 'btn btn-sm btn-primary'
.row
  .col-lg-6
    .card.mb-3{:style => "max-width: 540px;"}
      .row.no-gutters
        .col-md-4
          = image_tag("school.jpg", alt: "school", width: "163px", height: "200px")
        .col-md-8
          .card-body
            %h5.card-title A3 (Nursing)
            %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            %p.card-text
              %small
                = link_to "Go to Nursing", '#', class: 'btn btn-sm btn-primary'
  .col-lg-6
    .card.mb-3{:style => "max-width: 540px;"}
      .row.no-gutters
        .col-md-4
          = image_tag("school.jpg", alt: "school", width: "163px", height: "200px")
        .col-md-8
          .card-body
            %h5.card-title MTTC (Hauza)
            %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            %p.card-text
              %small
                = link_to "Go to Hauza", '#', class: 'btn btn-sm btn-primary'
